<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eden.finance.goldcat.mapper.BalanceHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eden.finance.goldcat.entity.BalanceHistory">
        <id column="account_id" property="accountId" />
        <id column="hisdate" property="hisdate" />
        <result column="currency" property="currency" />
        <result column="balance" property="balance" />
        <result column="is_month" property="isMonth" />
        <result column="is_season" property="isSeason" />
        <result column="is_year" property="isYear" />
    </resultMap>

</mapper>
